/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.dark, .dark *));


* {
    box-sizing: border-box;
    scrollbar-color: inherit red;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}