/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";
@import '@ctrl/ngx-emoji-mart/picker';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --safe-bottom: env(safe-area-inset-bottom, 0px)
}


* {
    box-sizing: border-box;
    scrollbar-color: inherit red;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pb-safe {
    padding-bottom: calc(var(--safe-bottom) + 70px);
}